:root {
  --color-background: #171718;
  --color-white: #fdfdfd;
  --color-green: #62a01b;
}

body {
  background-color: var( --color-background );
}

.header {
  height: 145px;
  padding: 20px 15%;
  background-color: var( --color-white );
  border-top: 5px solid var( --color-green );
}
  .header-avatar {
    height: 100%;
  }

.content {
  position: relative;
  border-top: 4px double var( --color-white );
  color: #ddd5c8;
}

.page-home,
.subpage {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: calc( 100vh - 145px );
}
  .subpage {
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    background-color: var( --color-background );
  }
    .subpage.is-showed {
      visibility: visible;
      opacity: 1;
    }
    .subpage-close {
      position: absolute;
      top: 20px;
      left: 20px;
    }

.content_section {
  margin: 20px 5%;
  padding: 25px;
  padding-top: 0;
  opacity: .8;
}
  .content_section:hover {
    opacity: 1;
  }
  .content_section-title {
    margin: 10px;
    padding-top: 10px;
    font-size: 17px;
  }
  .content_section-content {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
  }


.link_box {
  display: block;
  flex-grow: 1;
  max-width: 325px;
  min-width: 200px;
  margin: 15px;
  padding: 20px;
  border: 1px solid #ffffff1a;
  border-top: 2px solid #4169e1;
  transition: .05s;
}
  .link_box:hover {
    background-color: #00000015;
    transform: scale( 1.01 );
  }
  .link_box-title {
    letter-spacing: 1px;
    font-size: 17px;
  }
  .link_box-description {
    margin: 10px;
    font-size: 14px;
  }