
body {
  background-color: #181a1b;
  margin: 0;
  font-family: monospace;
  color: #d8d7e1;
}

.info {
  position: absolute;
  top: 50%;
  transform: translateY( -50% );
  width: 100%;
  padding: 5px 0;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  background: #3f3c45;
  text-align: center;
}
  .info::after {
    content: attr( data-after );
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX( -50% );
    opacity: 0.2;
  }


.body-background {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.button_on_background {
  margin: 100px;
  width: 100px;
  height: 100px;
}


.button {
  background: none;
  border: none;
  padding: 0;
  background-color: #0009;
  color: white;
}
  .button:hover {
    background-color: #000b;
  }
  .button:focus {
    outline: none;
  }