.links {
  display: flex;
}
.links-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
  .links-logo {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    margin:5px;
  }
  .links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: max-content;
  }
    .links-mail-button {
      width: max-content;
    }