.Header_text {
  top: 0;
  left: 0;
  right: 0;
  font-size: 10px;
  text-align: center;
}

.Content_header {
  padding: 50px 20px;
}
.Content_section {
  padding: 50px 20px;
}
.Content_form {
  padding: 10px 20px 100px;
}