/* */
/*: Base :*/
    body {
      margin: 0;
      font-family: Arial;
    }

    p {
      line-height: 20px;
    }

    h1, h2 {
      margin-bottom: 0;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    input {
      color: inherit;
    }

    :focus {
      outline: none;
    }


/* */
/*: Components :*/
    .Nav {
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      height: 50px;
      background: #DB3A3A;
      border-bottom: 4px double white;
      color: white;
      z-index: 999;
    }
      .Nav-item {
        display: block;
        padding: 18px;
        font-size: .9em;
      }

    .Header {
      position: relative;
      width: 100%;
      height: 41vw;
      background-image: url(./hBgr.png);
      background-size: 100% 100%;
      z-index: 1000;
    }
      .Header_canvas {
        width: 100%;
        height: 100%;
      }
      .Header_text {
        position: absolute;
        top: 30px;
        right: 30px;
        background-color: rgba(0,0,0,.7);
        padding: 10px;
        color: whitesmoke;
      }
        .Header_text-title {
          margin: 0;
        }

    .Content {
      min-height: calc(100vh - (41vh + 54px + 60px));
    }
      .Content_header {
        padding: 80px 100px;
        border-bottom: 4px double #DB3A3A;
      }
        .Content_header-text {
          width: 80%;
          margin-left: 20px;
        }

      .Content_section {
        padding: 80px 100px 80px;
      }
        .Content_section-wrapper {
          display: flex;
        }
        .Content_news-news {
          margin-top: 0;
          padding-left: 5px;
          max-height: 200px;
          overflow-y: hidden;
        }

      .Content_form {
        background: #222;
        padding: 10px 100px 100px;
        border-top: 5px double white;
        color: white;
      }
        .Content_form-textarea {
          display: block;
          width: calc(100% - 100px);
          min-height: 150px;
          margin: 40px;
          padding: 10px;
          resize: vertical;
          font-family: monospace;
          color: #222;
        }
		    .Content_form-nickname {
          font-family: monospace;
          display: block;
          padding: 3px;
          margin: 40px;
          color: #222;
        }
        .Content_form-button {
          display: block;
          border: 1px solid rgba(255,255,255,.1);
          width: 100%;
          padding: 10px;
          background-color: rgba(0,0,0,.1);
          cursor: pointer;
          color: white;
          transition: all .2s;
        }

      .Content_login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 300px;
        background-color: rgba(0,0,0,.7);
        color: white;
      }
        .Content_login-title {
          text-align: center;
          margin: 25px 0 50px;
        }
        .Content_login-field {
          display: block;
          width: max-content;
          margin: 15px auto;
          padding: 2px 10px;
          border-bottom: 2px solid rgba(0,0,0,.2);
        }
        .Content_login-input {
          border: none;
          margin: 0 10px;
          padding: 3px;
          background-color: rgba(255,255,255,.1);
        }

    .Opinions {
      padding: 50px;
    }
      .Opinions_separator {
        width: 90%;
        margin: 50px auto;
      }
      .Opinions_opinion {
        position: relative;
        border-left: 3px solid #DB3A3A;
        padding: 10px;
        margin: 10px 20px;
      }
      .Opinions_opinion_author-prefix {
        font-weight: bold;
      }
      .Opinions_opinion_author-nick {
        font-family: monospace;
        font-size: 1.1em;
      }
      .Opinions_opinion-status {
        position: absolute;
        top: 0;
        right: 0;
      }

    .Footer {
      height: 50px;
      background: #141414;
      border-top: 10px double #222;
      color: transparent;
    }


/* */
/*: Blocks :*/
    .communication {
      flex: 1;
      margin: 10px;
    }
      .communication-title {
        border-bottom: 3px solid var(--color);
      }
        .communication_box-title {
          margin: 15px 0 5px;
        }
        .communication_box-text {
          margin-top: 0;
          margin-left: 5px;
        }


/* */
/*: States :*/
    .Nav-item:hover {
      background-color: rgba(0,0,0,.1)
    }

    body.is-subpage .Content {
      min-height: calc(100vh - (54px + 60px));
    }

    .Content_login-input:focus {
      background-color: rgba(255,255,255,.2);
    }

    .communication.is-pks {
      --color: green;
    }
    .communication.is-skm {
      --color: blue;
    }
    .communication.is-mzk {
      --color: royalblue;
    }

    .communication.is-pks br {display:none}
    .communication.is-pks a[href*=".html"],
    .communication.is-skm h2,
    .communication.is-mzk h2 {
      display: block;
      font-weight: bold;
      margin: 10px 0 5px -5px;
      font-size: 17px
    }

    .Content_form-button:hover {
      border: 1px solid rgba(255,255,255,.2);
      background-color: rgba(0,0,0,.2);
    }