@font-face {
  font-family: Lato;
  src: url( ../fonts/Lato-Regular.ttf )
}

* {
  box-sizing: border-box;
}

:root {
  --darkest: #1d1d1d;
  --dark: #272727;
  --grey: #555;
  --green: #61c925;
  --dark-green: #579c2f;
}

body {
  font-family: Lato;
  background-color: var( --dark );
}

body,
div, p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: unset;
  transition: color .2s;
}
a:hover {
  color: var( --green );
}

.homepage {
  display: grid;
  grid-template:
    "header header" 100px
    "aside  main"
    "footer footer"  /
    20% 1fr;
}