.aside {
  grid-area: aside;
  padding-top: 200px;
}

.columns {
  /* display: flex;
  flex-flow: row; */
}
  .column {
    flex-grow: 1;
    flex-basis: 0;
  }
  .column:not( :last-child ) {
    margin-bottom: 100px;
  }
    .logo {
      width: 32px;
      height: 32px;
      margin: 10px auto;
    }
    .text {
      display: block;
      width: max-content;
      margin: 0 auto;
    }
    .links {
      width: max-content;
      margin: 0 auto;
    }
      .link {
        position: relative;
        display: block;
        margin: 10px 0;
      }