.banner {
  grid-area: banner;
  min-height: 100vh;
  padding-top: calc( 50vh - 180px );
}
.wrapper {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
}
  .photo {
    width: 300px;
  }
  .description {
    letter-spacing: 1px;
  }
    .title {
      margin-left: 0;
      padding: 10px;
    }

@media screen and (max-width:750px) {
  .banner {
    padding: 10px;
  }
    .photo {
      margin: 30px auto;
    }
    .title {
      margin: 0 auto 10px;
      width: 100%;
    }
}