.banner {
  grid-area: banner;
  min-height: 100vh;
  padding-top: calc( 50vh - 180px );
}
.wrapper {
  display: flex;
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
}
  .photo {
    width: 300px;
  }
  .description {
    letter-spacing: 1px;
  }
    .title {
      margin-left: 0;
      padding: 10px;
    }


@media screen and (max-width:750px) {
  .banner {
    padding: 10px;
  }
    .wrapper {
      flex-wrap: wrap;
    }
      .photo {
        margin: calc( 50vh - 180px - 68px - 28px ) auto;
      }
      .description {
        width: 100%;
        letter-spacing: 1px;
      }
        .title {
          margin: 0 auto 10px;
          width: 100%;
        }
        .content {
          padding-top: 30px;
          text-align: center;
        }
}