.footer {
  grid-area: footer;
}
.footer > * {
  margin-top: 100px;
}


.columns {
  display: flex;
  flex-flow: row;
}
  .column {
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px 40px;
  }
  .column:not( :last-child )::after {
    /* border-right: 1px solid var( --grey ); */
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    border-left: 1px solid var( --separator-dark-color );
    border-right: 1px solid var( --separator-light-color );
    background-color: var( --green );
  }
    .logo {
      width: 42px;
      height: 42px;
      margin: 10px auto;
      background-color: var( --white );
      border: 5px solid var( --white );
      border-radius: 5px;
    }
    .text {
      display: block;
      width: max-content;
      margin: 0 auto;
    }
    .links {
      width: max-content;
      margin: 0 auto;
    }
      .link {
        position: relative;
        display: block;
        margin: 10px 0;
      }
      .link::before {
        content: ">";
        position: absolute;
        left: -12px;
        color: var( --grey );
        font-weight: bold;
      }


.copyright {
  padding-bottom: 1em;
  text-align: center;
  color: var( --grey );
}