.header {
  grid-area: header;
  position: relative;
  display: flex;
  justify-content: center;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  border-top: 1px solid var( --separator-dark-color );
  border-bottom: 1px solid var( --separator-light-color );
}

.aside,
.title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 0;
  flex-grow: 1;
  padding-right: 50px;
}

.avatar {
  max-height: 200px;
  max-width: 200px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 1000px;
  max-width: 50vw;
}
  .link {
    margin-left: 25px;
  }



@media screen and (max-width: 1000px) {
  .homepage {
    flex-flow: wrap-reverse;
  }
  .aside {
    display: none;
  }
  .nav {
    flex-grow: 2;
    width: unset;
    max-width: unset;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  .link {
    margin: 5px;
    width: 100%;
  }
}