.nav {
  grid-area: nav;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

@media screen and (min-width:751px) {
  .layout {
    display: grid;
    grid-template:
      "nav    main"
      "footer footer"           /
       140px;
  }
}