.layout {
  --entry-aside-width: 500px;

  display: grid;
  grid-template:
    "header header header"
    "aside  main   empty"
    "footer footer footer";

  grid-template-columns: 200px 1fr 200px;
}
.main {
  grid-area: main;
  background-color: var( --background-color );
}