.nav {
  grid-area: nav;
  z-index: 10;
}
.itemList {
  display: flex;
  }
  .item {
    position: relative;
  }
    .link {
      display: block;
    }
    .title {
      width: max-content;
      padding: 7px 12px;
      border-radius: 5px;
    }


@media screen and (max-width:750px) {
  body {
    padding-bottom: 126px;
  }
  .nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: var( --background-color );
    border-top: 1px solid var( --aside-color );
  }
    .itemList {
      justify-content: space-evenly;
    }
        .link {
          width: 50px;
          height: 50px;
          margin: 0 auto;
        }
        .title {
          color: var( --light-blue );
        }
}


@media screen and (min-width:750px) {
  .nav {
    position: sticky;
    top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    height: 0;
  }
    .itemList {
      width: max-content;
      flex-direction: column;
    }
      .item {
        margin-bottom: 30px;
      }
        .link {
          width: 100px;
          height: 100px;
          margin: 0;
        }
          .link:hover + .title {
            displaY: block;
          }
        .title {
          displaY: none;
          position: absolute;
          left: calc( 100% + 15px );
          top: calc( 50% - 16px );
          background-color: black;
          color: var( --white );
        }
          .title::before {
            content: "";
            position: absolute;
            left: -10px;
            top: 50%;
            transform: translateY( -50% );
            border: 5px solid transparent;
            border-right-color: black;
          }
}