.post {
  display: flex;
  justify-content: center;
}
.post:not( :last-of-type ) .content::after {
  content: "";
  position: absolute;
  display: block;
  width: 80%;
  left: 50%;
  bottom: 0;
  transform: translateX( -50% );
  border-bottom: 1px solid var( --grey );
}



.tableOfContent,
.meta {
  width: 300px;
}



.meta {
  display: grid;
  grid-template:
    "author     date" 92px
    "categories categories"/
     1fr        100px;
  color: var( --grey );
  align-self: start;
}
  .author {
    grid-area: author;
    display: none;
    align-self: end;
    text-align: right;
    padding-right: 20px;
  }
  .date {
    grid-area: date;
    align-self: end;
  }
  .categories {
    grid-area: categories;
    padding: 23px 20px 0 0;
    text-align: right;
  }



.content {
  grid-area: content;
  position: relative;
  width: 1000px;
  max-width: 50vw;
  padding: 60px 20px;
  font-size: 17px;
}
  .content::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 60px;
    display: block;
    height: calc( 100% - 120px + 10px );
    width: 7px;
    background-color: var( --green );
  }
  .postbox {
    display: block;
    padding: 20px;
    margin: 20px;
    transition: box-shadow 1s;
  }
    .postbox:hover {
      box-shadow: unset;
    }
  .adjacentPosts {
    display: flex;
    width: 1000px;
    margin: 0 auto;
  }
    .adjacentPostsItem {
      flex-grow: 1;
    }
    /* .previous {} */
      .previous::before {
        content: "Poprzedni: "
      }
    .next {
      direction: rtl;
    }
      .next::before {
        content: "Następny: "
      }


.is-sticky {
  position: sticky;
  top: 0;
}
.postbox.is-note {
  background-color: var( --red );
  color: var( --background-color );
}
.postbox.is-info {
  background-color: var( --light-blue );
  color: var( --background-color );
}
.postbox.is-aside {
  border: 1px solid var( --dark );
  /* color: var( --background-color ) */
}
.postbox.is-pre {
  font-size: 15px;
}
.postbox.is-pre .line {
  margin: 5px 0;
}