.post {
  display: flex;
  justify-content: center;
  font-size: 17px;
}
.post:not( :first-of-type ) .content::after {
  content: "";
  position: absolute;
  display: block;
  width: 80%;
  left: 50%;
  top: 0;
  transform: translateX( -50% );
  border-bottom: 1px solid var( --grey );
}



.tableOfContent,
.meta {
  flex-basis: 0;
  flex-grow: 1;
}



.meta {
  position: relative;
  top: -15px;
  left: 40px;
  display: flex;
  color: var( --grey );
  font-size: 13px;
}
  .meta > * {
    margin-right: 25px;
  }
  .author {
    align-self: end;
  }
  .date {
    display: block;
  }



.content {
  grid-area: content;
  position: relative;
  width: 1000px;
  max-width: 50vw;
  padding: 60px 20px;
}
  .content::before {
    content: "";
    position: absolute;
    left: -4px;
    top: 60px;
    display: block;
    height: calc( 100% - 120px + 10px );
    width: 8px;
    background-color: var( --green );
  }
  .postbox {
    display: block;
    padding: 20px;
    margin: 20px;
    transition: box-shadow 1s;
  }
    .postbox:hover {
      box-shadow: unset;
    }
  .tags,
  .adjacentPosts {
    display: flex;
    width: 1000px;
    margin: 25px auto;
  }
    .adjacentPostsItem {
      flex-grow: 1;
    }
    /* .previous {} */
      .previous::before {
        content: "Poprzedni: "
      }
    .next {
      direction: rtl;
    }
      .next::before {
        content: "Następny: "
      }
    .tag {
      display: block;
      padding: 10px;
      margin: 0 0 10px 10px;
      width: max-content;
      background-color: var( --dark-grey );
      color: var( --background-color );
      transition: background-color 0.15s;
    }
    .tag:hover {
      background-color: var( --green );
    }


.is-sticky {
  position: sticky;
  top: 0;
}
.postbox.is-note {
  background-color: var( --red );
  color: var( --background-color );
}
.postbox.is-info {
  background-color: var( --light-blue );
  color: var( --background-color );
}
.postbox.is-aside {
  border: 1px solid var( --dark );
  /* color: var( --background-color ) */
}
.postbox.is-pre {
  font-size: 15px;
}
.postbox.is-pre .line {
  margin: 5px 0;
}