.projectsWrapper {
  display: flex;
  max-width: 100vw;
  flex-wrap: wrap;
}

.sectionTitle {
  background-color: var( --red );
  margin: 0 auto 50px;
  padding: 10px 100px;
}

  .project {
    display: flex;
    width: max-content;
    margin: 0 auto;
  }
    .project:nth-child( odd ) {
      text-align: right;
      flex-direction: row-reverse;
    }
    .description {
      max-width: 750px;
      letter-spacing: 1px;
    }

    .project-icon-wrapper {
      width: 300px;
      height: 300px;
      padding: 20px;
    }
      .project-icon {
        border-radius: 30px;
      }