@font-face {
  font-family: Lato;
  src: url( ../fonts/Lato-Regular.ttf )
}

* {
  box-sizing: border-box;
}

:root {
  --dark: #1d1d1d;
  /* --dark: #272727; */
  --grey: #777;
  --dark-grey: #555;
  /* --green: #56932d; */
  /* --dark-green: #579c2f; */
  --green: #62a01b;
  --red: #dd3b29;
  --blue: #0070ba;
  --light-blue: #0494ff;
  --yellow: #d6ba32;
  --background-color: #f7f7f7;
  --aside-color: #ddd;
}

body {
  font-family: Lato;
  background-color: var( --background-color );
}

body,
div, p,
ul, ol,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

a {
  color: var( --light-blue );
  text-decoration: unset;
  transition: color .2s;
  border-bottom: 1px dashed transparent;

  --border-color: var( --light-blue )
}
a:hover {
  border-bottom-color: var( --border-color );
}


/*\
 *
 *   Clear tags -- tag:not( [class] )
 *   Mostly used inside content/post content (html version of markdown)
 *
\*/

p:not( [class] ),
ul:not( [class] ), ol:not( [class] ) {
  line-height: 1.7em;
  margin-bottom: 2em;
}

.h1, h1:not( [class] ) {
  width: max-content;
  margin-bottom: 20px;
  padding: 0 100px 0 20px;
  font-size: 30px;
  font-weight: normal;
}
.h2, h2:not( [class] ) {
  margin: 30px 0 15px;
  padding: 0 100px 0 20px;
  font-weight: normal;
  font-size: 25px;
}
/*
.h3, h3:not( [class] ) {}
.h4, h4:not( [class] ) {}
.h5, h5:not( [class] ) {}
.h6, h6:not( [class] ) {}
*/

li:not( [class] ) {
  position: relative;
  margin-bottom: 1em;
  list-style: none;
}
li:not( [class] )::before {
  content: "¤";
  position: absolute;
  left: -20px;
  top: 1px;
  color: var( --green );
  font-weight: bold;
  font-size: 20px;
}

code:not( [class] ) {
  background-color: var( --aside-color );
  font-family: monospace;
  /* color: var( --aside-color ); */
  padding: 2px 4px;
}