/* Normalize */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  position: static;
  width: max-content;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
  list-style-type: none;
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  cursor: default;
  outline: none;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: monospace, "Lato", "Sans serif";
}

.is-hidden {
  display: none;
}