.homepage {
  display: grid;
  grid-template:
    ". ." 50px
    ". favTechs"
    ". links" 200px
    / 250px 1fr
}

.evolveye_avatar {
  position: absolute;
  left: 50px;
  bottom: 50px;
  width: 150px;
  height: 150px;
}

.fav_techs-wrapper {
  padding: 20px;
  grid-area: favTechs;
}
  .fav_techs-addition {
    display: block;
    margin: 20px 0 0 70px;
    color: #55a7;
    width: 450px;
    text-align: center;
  }

.links {
  grid-area: links;
  padding: 20px;
  width: max-content;
  height: 150px;
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 0 10px #0006 inset;
  color: black;
}
  .links-link {
    border-bottom: 1px dashed transparent;
    margin: 2px 0;
  }
  .links-link:hover {
    border-bottom-color: #4169e1;
    color: #4169e1;
  }

@media only screen and (max-width: 1400px) {
  .homepage {
    grid-template-columns: 150px 1fr;
  }

  .evolveye_avatar {
    left: 0;
    width: 150px;
    height: 150px;
  }

  .links {
    padding: 20px 10px;
    min-width: unset;
  }
}

@media only screen and (max-width: 1220px) {
  .homepage {
    grid-template:
      ". ." 50px
      "favTechs favTechs"
      ". links"
      / 150px 1fr
  }

  .evolveye_avatar {
    bottom: 10px;
  }

  .links {
    flex-direction: column;
    height: unset;
    width: unset;
    padding: 20px 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 950px) {
  .homepage {
    grid-template:
      "favTechs"
      "links"
  }
  .fav_techs-wrapper {
    margin-bottom: 100px;
  }

  .fav_techs-wrapper {
    padding: 0;
  }
  .fav_techs-title {
    text-align: center;
  }
  .fav_techs-addition {
    margin: 0;
    width: unset;
  }

  .evolveye_avatar {
    top: 25px;
    left: 40px;
    margin-bottom: 0;
  }

  .fav_techs-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  .fav_techs-item {
    width: unset;
  }

  .links {
    margin: 0;
    border-radius: 0;
    padding: 20px;
  }
}