body {
  background-color: #112;
  background: repeating-linear-gradient(
    -125deg, #112 0%, rgb(28, 28, 59) 100%
  );
  margin: 0;
  color: #ddd5c8;
  font-family: sans-serif;
  overflow-x: hidden
}

#content {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template:
    ". .     github" 50px
    ". space github" calc( 100vh - 50px - 200px )
    ". links github"
    / 250px 1fr 1fr
}

.evolveye_avatar {
  grid-area: avatar;
  position: absolute;
  left: 50px;
  bottom: 50px;
  width: 150px;
  height: 150px;
}

.github_repos {
  grid-area: github
}
  .github_repos-item,
  .loading_box {
    height: 100px;
    width: 325px;
    border-top: 2px solid #4169e1;
    opacity: 0.8;
  }
  .github_repos-item:hover {
    opacity: 1;
  }

.fav_techs-wrapper {
  padding: 20px;
  grid-area: space;
}
  .fav_techs-addition {
    display: block;
    margin: 20px 0 0 70px;
    color: #55a5;
    width: 450px;
    text-align: center;
  }

.links {
  grid-area: links;
  padding: 20px;
  min-width: 550px;
  height: 150px;
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 0 10px #0006 inset;
  color: black;
}
  .links-link {
    border-bottom: 1px dashed transparent;
    margin: 2px 0;
  }
  .links-link:hover {
    border-bottom-color: #4169e1;
    color: #4169e1;
  }