body {
  background-color: #112;
  background: repeating-linear-gradient(
    -125deg, #112 0%, rgb(28, 28, 59) 100%
  );
  margin: 0;
  color: #ddd5c8;
  font-family: sans-serif;
  overflow: hidden
}

#content {
  position: relative;
  /* height: 100vh; */
  display: grid;
  grid-template:
    "page page github"
    / 250px 1fr 1fr
}

#page {
  grid-area: page
}

.github_repos {
  grid-area: github;
  padding: 0 10px 0 30px;
  overflow-y: auto;
}
  .github_repos-item,
  .loading_box {
    height: 100px;
    width: 325px;
    border-top: 2px solid #4169e1;
    opacity: 0.8;
  }
  .github_repos-item:hover {
    opacity: 1;
  }

@media only screen and (max-width: 1400px) {
  #content {
    grid-template:
      "page github"
      / 1fr 450px
  }
}

@media only screen and (max-width: 1220px) {
  #content {
    min-height: 100vh;
    display: grid;
    grid-template:
      "page github"
      / 1fr max-content;
  }
}

@media only screen and (max-width: 950px) {
  * {
    font-size: 20px !important;
  }

  body {
    overflow: unset;
  }

  #content {
    grid-template:
      "github"
      "page";
    padding-top: 200px;
  }

  .github_repos {
    margin-bottom: 100px;
    padding: unset;
  }

  .github_repos-section {
    width: unset;
  }

  .github_repos-item {
    width: unset;
    margin: 20px;
  }

  .github_repos-section-title {
    margin: 0;
    text-align: center;
  }
}