body {
  background-color: #112;
  margin: 0;
  color: #eee;
}

#content {
  min-height: 100vh;
}

.evolveye_avatar {
  position: absolute;
  left: 100px;
  bottom: 100px;
  width: 200px;
  height: 200px;
}

.loading_box {
  height: 150px;
  width: 400px;
}