@media only screen and (max-width: 1220px) {
  #content {
    min-height: 100vh;
    display: grid;
    grid-template:
      "space github"
      "links github"
      / 50vw 50vw
  }

  .evolveye_avatar {
    left: 10px;
    bottom: 10px;
  }

  .links {
    flex-direction: column;
    height: unset;
    margin-left: 170px;
    padding: 20px 10px;
  }
}